body {
	color: #324323;
	font: 100%/1.5 Helvetica, Arial, sans-serif;
	width: 65%; /*850px*/
	margin: 0 auto; 
	background-color: #87cefa;
}

h1 a{ 
	color: #fff;
	text-decoration: none;
}

h2, h3, h4{
	color: #4667A5;
	display: block;
	background-color: #778899;
	font-size: 1.125em;
}

.container{
	color: #000;
	display: block;
	
	background-color: #dae7ef;
	padding: 5px;	
}

.container p{
	margin: 0 auto;
}

#site {
	color: #fff;
	display: block;
	background-color: #4682b4;
	padding: 5px;
}

#site_container {
	color: #fff;
	display: block;
	padding: 5px;
}